body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.wrapper {
  background-color: var(--NEBgColor);
  display: grid;
  height: 100vh;
  grid-gap: 4px;
  grid-template-rows: 2rem Auto;
  grid-template-columns: 4rem Auto;
  grid-template-areas: "a a ""a a ""b c";
}

.box {
  background-color: var(--NEBgColor);
  color: white;
  border: 1px;
  border-style: dashed;
  font-size: 100%;
  overflow: hidden;
}

.a {
  grid-area: a;
}

.b {
  grid-area: b;
}

.graphContainer {
  border: 0px;
  grid-area: c;
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 1.5em Auto;
  grid-template-columns: Auto;
  grid-template-areas: "ca""cb";
  overflow: hidden;

}

.graphHeader {
  grid-area: ca;
}

.graphEditor {
  grid-area: cb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  background-color: var(--NEBgColor);
  opacity: 1;
  flex-shrink: 0;
  width: 6000px;
  height: 6000px;
  background-image:
    conic-gradient(at calc(100% - 2px) calc(100% - 2px), var(--line-color-1) 270deg, #0000 0),
    conic-gradient(at calc(100% - 1px) calc(100% - 1px), var(--line-color-2) 270deg, #0000 0);
  background-size: 100px 100px, 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.element1 {
  flex-shrink: 0;
  font-size: 200%;
  text-align: center;
  border: 2px;
  border-style: solid;
  border-radius: 15px;
  /* width: 100px; */
  /* height: 100px; */
}
